body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #2b3338;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DS-Digital', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.summer-text,
.time-container {
    font-weight: normal;
    font-style: italic;
}

.time-container {
    color: #c8d7da;
    font-size: clamp(40px, 14vw, 180px);
    font-weight: bold;
    min-width: 15ch;
    text-align: center;
    align-content: center;
}

.centered-text {
    font-size: clamp(20px, 7vw, 80px);
    color: #7c8573;
    min-width: 10ch;
}

.copyright-text {
    font-size: smaller;
    color: #3d4f4f;
    margin-top: auto;
    margin-bottom: 1%;
}