body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #2b3338;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DS-Digital', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.summer-text,
.time-container {
    font-weight: normal;
    font-style: italic;
}

.time-container{
    color: #c8d7da;
    font-size: clamp(60px, 14vw, 180px);
    font-weight: bold;
    min-width: 300px;
    text-align: start;
    align-self: self-start;
    margin-left: 50%;
    transform: translateX(-50%);
}

.centered-text {
    font-size: clamp(24px, 6vw, 80px);
    color: #7c8573;
    min-width: 10ch;
}
